<footer class="site-footer">

  <div class="wrap">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> //-->

    <div class="footer-col-1 column">
      <ul>
        <li>&copy; <a href="{{ site.url }}">{{ site.title }}</a></li>
        <li>web designer & web developer</li>
      </ul>
    </div>

    <div class="footer-col-2 column"> 

    </div>

    <div class="footer-col-3 column">
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div> 

  </div>

</footer>
